#details {
    padding: 50px 20px;
    text-align: center;
    background-color: #FDEDEC;
    color: white;
     background-image: url("https://imgs.search.brave.com/JEnjOEPbbfAW7MdLZvfFqhRbs8WEImSHxGS5JuXBwhc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA5LzUwLzEwLzAy/LzM2MF9GXzk1MDEw/MDI3MV9XakN5cUlE/U1FNOFFKeWc0bExQ/aEtMYlRaMVdxekUx/ei5qcGc");
}

.details-container {
    max-width: 800px;
    margin: 0 auto;
}
